<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
  background-color: #f3e6e8;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);



}
#heading{
    text-align: center;
    font-size:3.4rem;
    color:rgb(70, 67, 67)
}
#filter{
  display: flex;
  flex-flow: row-reverse;
  cursor: pointer;
}
#filter img{
  transition: all 0.4s ease-in;
}
#filter img:hover{
  transform: scale(1.2);
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin-top:40px;
  border:1px solid rgb(230, 227, 227);
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
p{
    color:rgb(39, 38, 38);
}

.card h3{
  font-weight: 600;
}
h1{
    text-transform: uppercase;
    font-size:22px;
    color:rgb(85, 84, 84)
}
p{
     margin:0;
     margin-top:3px;
 }
.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 


#filterbox{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  width: 20vw;
  border:1px solid red;
  top:20vw;
  right:0px;
  width: 30vw;
  height:60vh;
  margin: auto;
  z-index:1;
  display:none;
  background-color: #eec0c6;
background-image: url('/donorAcceptorData/images/formback.jpg');
border-radius: 10px;
border: 1px solid rgb(155, 145, 145);
box-shadow: #eec0c6 10px 10px 10px;
min-height:511px;
min-width: 332px;

}

option,select,input{
  width:220px;
  height:30px;
  font-size: 20px;
}
input {
        height: 40px;
        width: 30vw;
        max-width: 300px;
        border-radius: 2px;
        border: none;
        background-color: rgb(173, 173, 173);
        opacity: 0.6;
        outline: none;
        color: #fff;
        padding-left: 10px;
    }
    input:hover{
        background-color: rgb(173, 173, 173);
    }

    
    input[type=checkbox] {

      size:10px;
      height:24px;
      width:40px;
      margin: auto;
    }
    h2{
      color:rgb(241, 59, 96)
    }
    a{
      cursor: pointer;
    }

    @media  only screen and (max-width:925px){
      #filterbox{
      margin-top:50px;

      }
    }
    @media  only screen and (max-width:675px){
      #filterbox{
      margin:auto;
      width:94vw;
      position: relative;

      }
      body{
        padding: 0;
      }
    }
    #btn{
      margin-top: 8px;
      border: none;
    }
</style>
<body>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

     
<div id = "heading">Acceptors</div>

<div id="filter"><img src = "/donorAcceptorData/images/filter.png" width="50px" height="50px"></div>
<div id = "filterbox">
  <h1>Filter</h1>
  <form>
    <!-- name,age,email,blood,address,pincode,demand,phone,area -->
    
    <label for = "name"><h2>Select Blood Group</h2></label>
    <label for = "area">Blood A+</label>
    <input type = "checkbox" name = "a+">
    <label for = "name">Blood A-</label>
    <input type = "checkbox" name = "a-"><br>
    <label for = "name">Blood B+</label>
    <input type = "checkbox" name = "b+">
    <label for = "name">Blood B-</label>
    <input type = "checkbox" name = "b-"><br>
    <label for = "name">Blood O+</label>
    <input type = "checkbox" name = "o+">
    <label for = "name">Blood O-</label>
    <input type = "checkbox" name = "o-"><br>
    <label for = "name">Blood AB+</label>
    <input type = "checkbox" name = "ab+">
    <label for = "name">Blood AB-</label>
    <input type = "checkbox" name = "ab-"><br>
    <label for = "name"><h2>Select City</h2></label>
    <select id="area" name="area" form="area">
      <option id="cityarea" >Select Nearest City</option>
      <option id="cityarea" value="Agra">Agra</option>
      <option id="cityarea" value="Ahmedabad">Ahmedabad</option>
      <option id="cityarea" value="Bangalore">Bangalore</option>
      <option id="cityarea" value="Bhopal">Bhopal</option>
      <option id="cityarea" value="Chandigarh">Chandigarh</option>
      <option id="cityarea" value="Chennai">Chennai</option>
      <option id="cityarea" value="Delhi">Delhi</option>
      <option id="cityarea" value="Delhi-NCR">Delhi-NCR</option>
      <option id="cityarea" value="Gwalior">Gwalior</option>
      <option id="cityarea" value="Hyderabad">Hyderabad</option>
      <option id="cityarea" value="Indore">Indore</option>
      <option id="cityarea" value="Jaipur">Jaipur</option>
      <option id="cityarea" value="Kolkata">Kolkata</option>
      <option id="cityarea" value="Lucknow">Lucknow</option>
      <option id="cityarea" value="Meerut">Meerut</option>
      <option id="cityarea" value="Mumbai">Mumbai</option>
      <option id="cityarea" value="Nagpur">Nagpur</option>
      <option id="cityarea" value="Patna">Patna</option>
      <option id="cityarea" value="Prayagraj">Prayagraj</option>
      <option id="cityarea" value="Pune">Pune</option>
      <option id="cityarea" value="Shimla">Shimla</option>
      <option id="cityarea" value="Surat">Surat</option>
      <option id="cityarea" value="Thiruvananthpuram">Thiruvananthapuram</option>
    </select>
    <label for = "name"><h2>Enter Pincode</h2></label>
    <input type="number" name = "pincode" placeholder="pincode"><br>
    <button id="btn"  onclick="submit"><img src = "/donorAcceptorData/images/checked.png" width="50px" height="50px"></button>

  </form>
</div> 
    <div class = "data"></div>
<div class="container">
  <div class="row" id="row">
   
    <!-- <div class="col-md-4">
      <div class="card card-2">
        <h3>UI Components</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Theming</h3>
        <p>Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.</p>
      </div>
    </div> -->
  </div>
</div>

</body>
<script>
const btn = document.getElementById('btn');
const dataselect = document.getElementById('row');
const blood = document.getElementById('blood');
const area = document.getElementById('area');
const pincode = document.getElementById('pincode');
const x = document.getElementById('filterbox')
const filter = document.getElementById('filter');
filter.addEventListener('click',(e)=>{
  if (x.style.display === "none") {
    x.style.display = "block";
    filter.innerHTML =  `<img src = "/donorAcceptorData/images/x-mark.png" width="50px" height="50px">`
    
  } else {
    x.style.display = "none";
    filter.innerHTML =  `<img src = "/donorAcceptorData/images/filter.png" width="50px" height="50px">`
  }

})
btn.addEventListener('click',(e)=>{
  console.log('clicked');

  e.preventDefault();

})


window.addEventListener('load',async(e)=>{
    e.preventDefault();
    console.log('geting here')
    const res = await fetch('/acceptor',{
        method:'post',
        headers:{
            'Content-type':'application/json'
        },
    })
    const result = await res.json();
    console.log(result.user);
    result.user.forEach(data => {
        // console.log(data.name,data.age,data.address)
        dataselect.innerHTML += `
                                    <div class="col-md-4">
                                  <div class="card card-1">
                                    <h1>${data.name}</h1>
                                    <hr>
                                    <p><strong>Age: </strong>${data.age}</p>
                                    <p><strong>Blood Group : </strong>${data.blood}</p>
                                    <p><strong>Contact Number: </strong>${data.phone}</p>
                                    <p><strong>Address: </strong>${data.address}, ${data.area}, ${data.pincode}</p>
                                    <p><strong>Demand: </strong>INR ${data.demand}</p>
                                  </div>
                                </div>

                                `
        
    });
})

</script>
</html>