<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<style>
    body {
    font-family: 'Raleway', sans-serif;
    background-color: #e7e7e7;
}
.wrapper {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
}

.login-text {
    width: 800px;
    height:450px;
    background: linear-gradient(to left, #ab68ca, #de67a3); 
    position: absolute;
    top: -300px;
    box-sizing: border-box;
    padding: 6%;
    transition: all 0.5s ease-in-out;
    z-index: 11;
}

.text {
    margin-left: 20px;
    color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}

    a, a:visited {
        font-size: 36px;
        color: #fff;
        text-decoration: none;  
        font-weight: bold;
        display: block;
    }

    hr {
        width: 10%;
        float: left;
        background-color: #fff;
        font-size: 16px;
    }

    input {
        margin-top: 30px;
        height: 40px;
        width: 300px;
        border-radius: 2px;
        border: none;
        background-color: #444;
        opacity: 0.6;
        outline: none;
        color: #fff;
        padding-left: 10px;
    }

    input[type=text] {
        margin-top: 60px;
    }

    button {
        margin-top: 60px;
        height: 40px;
        width: 140px;
        outline: none;
    }

    .login-btn {
        background: #fff;
        border: none;
        border-radius: 2px;
        color: #696a86;
    }

    .signup-btn {
        background: transparent;
        border: 2px solid #fff;;
        border-radius: 2px;
        color: #fff;
        margin-left: 30px;
    }


.cta {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(234, 163, 255);
    border: 2px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 370px;
    color: #fff;
    outline: none;
    cursor: pointer;
    z-index: 11;
}

.call-text {
    background-color: #fff;
    width: 800px;
    height: 450px;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
}
     h1 {
        font-size: 42px;
        margin-top: 10%;
        color: #696a86;
    }

        span {
            color: #333;
            font-weight: bolder;
            
        }
    

    button {
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, #ab68ca, #de67a3); 
        color: #fff;
        font-weight: bolder;
        margin-top: 30px;
        cursor: pointer;
        outline: none;
    }


.show-hide {
    display: block;
}

.expand {
    transform: translateY(300px);
}
#already{
    margin-top:20px
}
#already a{
    font-size:15px;
}

</style>
<body>
    <div class="wrapper">
        <div class="login-text">
          <button class="cta"><i class="fas fa-chevron-down fa-1x"></i>CLICK TO REGISTER</button>
          <div class="text">
            <a href="">Signup</a>
            <hr>
            <br>
            <form>
            <input type="email" name="email" placeholder="Email">
            <div id='emailerror'></div>
            <br>
            <input type = "password" name="password" placeholder="Password">
            <div id='passworderror'></div>
            <br>
            
            <button type ="submit" class="signup-btn">Sign Up</button><br>
        </form>
        <div id="already">Already a User?<a href = "login">Sign In</a></div>
           
          </div>
        </div>
        <div class="call-text">
          <h1>So, You are a <span>Donor</span></h1>
          <a href="./index"><button>Go to Home</button></a>
        </div>
      
      </div>

   
</body>

<!-- For Form Handling  -->
<script>
    let form = document.querySelector('form');
    const emailerror = document.getElementById('emailerror')
    const passworderror = document.getElementById('passworderror')
    emailerror.textContent = '';
            passworderror.textContent = '';
    form.addEventListener('submit',async (e)=>{
        //Here, I am using Ajax Call
        e.preventDefault()
        //getting emails and password
        let email = form.email.value
        let password = form.password.value
        const res = await fetch('/signup',{
            method:'post',
            body:JSON.stringify({email,password}),
            headers:{'Content-type':'application/json'}
        })
        const data = await res.json();
        console.log(data);
        if(data.errors)
        {
            console.log('some thing we n eor')
            emailerror.textContent = data.errors.email;
            passworderror.textContent = data.errors.password;

        }
        if(data.user)
        {
            location.assign('/donor')
        }

    })
</script>




<!-- For UI  -->
<script>
var cta = document.querySelector(".cta");
var check = 0;

cta.addEventListener('click', function(e){
    var text = e.target.nextElementSibling;
    var loginText = e.target.parentElement;
    text.classList.toggle('show-hide');
    loginText.classList.toggle('expand');
    if(check == 0)
    {
        cta.innerHTML = "<i class=\"fas fa-chevron-up\"></i>";
        cta.innerText = "Go to Homepage"
        check++;
    }
    else
    {
        cta.innerHTML = "<i class=\"fas fa-chevron-down\"></i>";
        cta.innerText = "Register Here"
        check = 0;
    }
})
</script>
</html>